.app-layout {
    display: flex;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 80px;
    /* Width of Minimized Sidebar */
    display: flex;
    flex-direction: column;
    min-width: 0;
    /* Prevents flex items from overflowing */
}

.page-content {
    padding: 2rem;
    flex: 1;
    background-color: var(--color-bg);
    overflow-y: auto;
}

@media (max-width: 1024px) {
    .main-content {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .page-content {
        padding: 1rem;
    }
}